# Python cache
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/
env/

# Streamlit
.streamlit/

# Jupyter
.ipynb_checkpoints/

# IDEs
.idea/
.vscode/

# OS
Thumbs.db
.DS_Store

# Environment variables
.env
